<!DOCTYPE html>
<html>
<head>
<title>Your Video</title>

<style>

body{
background:#0b132b;
color:white;
text-align:center;
font-family:Arial;
}

.video-box{
margin-top:40px;
}

img{
width:300px;
border-radius:10px;
margin-bottom:15px;
}

video{
width:320px;
border-radius:10px;
}

button{
margin-top:20px;
padding:12px 30px;
border:none;
border-radius:30px;
background:#3b82f6;
color:white;
font-size:16px;
}

</style>
</head>

<body>

<h2>{{ title }}</h2>

<div class="video-box">

<img src="{{ thumbnail }}">

<br>

<video controls>
<source src="/downloads/{{ filename }}" type="video/mp4">
</video>

<br>

<a href="/downloads/{{ filename }}" download>
<button>Download Video</button>
</a>

</div>

</body>
</html>
